{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      {% include 'topics_component.html' %}

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user_profile.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user_profile.alias}}</h3>
            <p>@{{user_profile.user.username}}</p>
            {% if request.user == user_profile.user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{user_profile.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{user_profile.alias}}</a>
            </h2>
          </div>
        </div>
        {% include 'feed_component.html' %}
      </div>
      <!-- Room List End -->

      {% include 'activity_component.html' %}   
    </div>
  </main>
{% endblock content %}